<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Your title</title>

    

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
    <!-- Custom styles for this template -->
  </head>
  <body class="text-center">
  <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <main>
      <div class="container">
        <form method="post" target="">
            <h1 class="h3 mb-3 fw-normal">Customer Review Rating</h1>
            
            <!-- textarea + label -->
            <div class="">
                <label for="review" class="form-label">Paste your text below</label>
                <textarea class="form-control" name='review' id="review" rows="4"></textarea>
            </div>

            <!-- button -->
            <div class="mb-3"></div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Process</button>
            <div class="mb-3"></div>

            {% if result == "Positive" %}
            <!-- result positive -->
            <div class="mb-3" id="positive">
                <h3 class="text-success"><i class="bi bi-hand-thumbs-up-fill"></i> positive</h3>
            </div>
            {% endif %}

            {% if result == "Negative" %}
            <!-- result negative -->
            <div class="mb-3" id="negative">
                <h3 class="text-danger"> <i class="bi bi-hand-thumbs-down-fill"></i> negative</h3>
            </div>
            {% endif %}


            <p class="mt-5 mb-3 text-muted">&copy; Anika Arevalo</p>
          </form>
        </div>
    </main>
An app that predicts if a customer's review is positive or negative

  </div>  
  </body>
</html>
 
